body {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
}
.box {
    width: 250px;
    height: 150px;
    background-color: lightblue;
    border: 2px solid black;
    text-align: center;           
    line-height: 150px;           
}